infra/stepfunctions/order-workflow.asl.json
{
  "Comment": "Order Processing Workflow PoC",
  "StartAt": "OrderReceive",
  "States": {
    "OrderReceive": {
      "Type": "Task",
      "Resource": "${ORDER_RECEIVE_LAMBDA_ARN}",
      "Next": "processItems"
    },

    "processItems": {
      "Type": "Map",
      "ItemsPath": "$.items",
      "ResultPath": "$.inventoryResults",
      "Iterator": {
        "StartAt": "ItemInventoryCheck",
        "States": {
          "ItemInventoryCheck": {
            "Type": "Task",
            "Resource": "${ITEM_INVENTORY_LAMBDA_ARN}",
            "End": true
          }
        }
      },
      "Next": "AggregateInventoryResults"
    },

    "AggregateInventoryResults": {
      "Type": "Task",
      "Resource": "${INVENTORY_AGGREGATE_LAMBDA_ARN}",
      "Next": "InventoryChoice"
    },

    "InventoryChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.allInStock",
          "StringEquals": "OUT_OF_STOCK",
          "Next": "NotifyOutOfStock"
        }
      ],
      "Default": "PreCheck"
    },

    "PreCheck": {
      "Type": "Parallel",
      "ResultPath": null,
      "Branches": [
        {
          "StartAt": "FraudCheck",
          "States": {
            "FraudCheck": {
              "Type": "Task",
              "Resource": "${FRAUD_CHECK_LAMBDA_ARN}",
              "End": true
            }
          }
        },
        {
          "StartAt": "PointCalculate",
          "States": {
            "PointCalculate": {
              "Type": "Task",
              "Resource": "${POINT_CALCULATE_LAMBDA_ARN}",
              "End": true
            }
          }
        }
      ],
      "Next": "Payment"
    },

    "Payment": {
      "Type": "Task",
      "Resource": "${PAYMENT_LAMBDA_ARN}",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 3,
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CancelOrder"
        }
      ],
      "Next": "Shipping"
    },

    "CancelOrder": {
      "Type": "Task",
      "Resource": "${CANCEL_ORDER_LAMBDA_ARN}",
      "Next": "NotifyFail"
    },

    "Shipping": {
      "Type": "Task",
      "Resource": "${SHIPPING_LAMBDA_ARN}",
      "Next": "NotifySuccess"
    },

    "NotifySuccess": {
      "Type": "Task",
      "Resource": "${NOTIFY_LAMBDA_ARN}",
      "End": true
    },

    "NotifyFail": {
      "Type": "Task",
      "Resource": "${NOTIFY_LAMBDA_ARN}",
      "End": true
    },

    "NotifyOutOfStock": {
      "Type": "Task",
      "Resource": "${NOTIFY_LAMBDA_ARN}",
      "End": true
    }
  }
}
